.gallery {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    display: block;
    min-width: 80px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gallery-item figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    padding: 2px;
}

figure img {
    height: 200px;
    width: auto;
    margin-bottom: 5px;
	object-fit: scale-down;
}

.zeugwerk-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;    
}

.zeugwerk-btn {
  border-radius: 4px;
  background-color: #da776d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;    
}

.zeugwerk-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.zeugwerk-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.zeugwerk-btn:hover {
  color: #ffffff;
  background-color: #cad0de;
}

.zeugwerk-btn:hover span {
  padding-right: 25px;
}

.zeugwerk-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.feature-tbl {
  width:100%;
  background-color: #ffffff;
  border: none;  
}

.feature-tbl tr {
  background-color: #ffffff;  
  border: none;    
}

.feature-tbl td {
  background-color: #ffffff;
  border: none;
  word-wrap:break-word;
}

.feature-tbl thead tr th {
  background-color: #ffffff;  
  border: none;    
}

.feature-tbl tbody tr td {
  background-color: #ffffff;
  vertical-align: middle;
  border: none;
  word-wrap:break-word;
}

.feature-tbl svg {
  display: inline-block;
  width: 24px;
  vertical-align: middle;   
}

